/* animations */
.whatido-title--animate {
  animation: animate-scale 1.2s linear 800ms forwards,
    animate-opacity-one 1.2s linear 800ms forwards;
  transform: scale(0);
  opacity: 0;
}

.whatido__item--animate-left {
  animation: animate-left-to-right 1.6s linear 3s forwards,
    animate-opacity-one 1.6s linear 2s forwards;
  transform: translateX(-150%);
  opacity: 0;
}

.whatido__item--animate-right {
  animation: animate-right-to-left 1.6s linear 3s forwards,
    animate-opacity-one 1.6s linear 3s forwards;
  transform: translateX(100%);
  opacity: 0;
}
