.aboutme-section {
  background-color: var(--bg-light-green);

  /* about me title */
  & .aboutme-title {
    text-align: left;
    z-index: 2;
  }

  /* about me details  */
  & .aboutme-details {
    width: 100%;
    color: var(--text-light-gray);
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
    opacity: 0.7;
    text-align: left;
    z-index: 2;
    /* @media (--tablet) {
      text-align: left;
    } */
    @media (--laptop) {
      max-width: 500px;
    }
    @media (--desktop) {
      max-width: 600px;
    }
  }

  & .aboutme-img__container {
    width: 70%;
    @media (--laptop) {
      width: 40%;
      opacity: 1;
    }

    & .aboutme-details__img {
      height: 100%;
    }
  }
}

/* animations */

.aboutme-section {
  --animation-delay: 4s;
  @media (--desktop) {
    --animation-delay: 800ms;
  }
  /* animate aboutme title */
  & .aboutme-title--animate {
    animation: animateLeftToRight 1s linear var(--animation-delay) forwards,
      animateOpacityOne 1s linear var(--animation-delay) forwards;
    transform: translateX(-100%);
    opacity: 0;
  }
  /* animate aboutme image */
  & .aboutme-img__container--animate {
    animation: animateScale 1s linear var(--animation-delay) forwards,
      animateOpacityPointOne 1s linear var(--animation-delay) forwards;
    transform: scale(0);
    opacity: 0;

    @media (--laptop) {
      animation: animateScale 1s linear var(--animation-delay) forwards,
        animateOpacityOne 1s linear var(--animation-delay) forwards;
    }
  }
  /* animate aboutme details */
  & .aboutme-details--animate {
    animation: animateBottomToTop 1s linear var(--animation-delay) forwards,
      animateScale 1s linear var(--animation-delay) forwards,
      animateOpacityPointSeven 1s linear var(--animation-delay) forwards;
    transform: translateY(100%) scale(0);
    opacity: 0;
  }
}
