.certificates-section {
  background-color: var(--bg-light-green);
}

.certificates-section > .container {
  /* certificate-title */
  & .certificate-title {
    margin-block: auto;
  }

  /* certificate */
  & .certificate {
    & .certificate-buttons {
      box-shadow: 10px 10px 10px 5px var(--bg-dark-green);
      background-color: rgba(0, 0, 0, 0.6);

      & .certificate-buttons__title {
        text-align: center;
        font-size: var(--fs-md);
        font-weight: var(--fw-semibold);
        text-transform: uppercase;
        opacity: 0.8;
      }

      & > button {
        background-color: var(--bg-yellow);
        color: var(--text-white);
        font-size: var(--fs-base);
        font-weight: var(--fw-regular);
        text-transform: uppercase;
        border: none;
        padding: 10px 35px;
        border-radius: 5px;

        &:hover {
          cursor: pointer;
          background-color: var(--bg-yellow-dark);
          transition: all 0.4s;
        }
      }
    }

    & .certificate-img {
      height: 100%;
      width: 100%;
    }
  }

  /* certificate-btn */
  & .certificates-btn {
    margin-inline: auto;

    &:hover {
      transition: all 0.4s;
      box-shadow: 0 0 1px 3px var(--bg-yellow);
    }
  }
}

.certificates-section > .container {
  & .certificate {
    & .certificate-animation--animate {
      animation-name: animateCertificateAnimation;
      animation-fill-mode: forwards;
      animation-delay: 5s;
    }

    & .certificate-animation__btn-open--animate {
      animation-name: animateCertificateButtonOpen;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    & .certificate-animation__left--animate {
      animation-name: animateCertificateLeft;
      animation-duration: 3s;
      animation-delay: 1s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    & .certificate-animation__right--animate {
      animation-name: animateCertificateRight;
      animation-duration: 3s;
      animation-delay: 1s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes animateCertificateAnimation {
  0% {
    display: flex;
  }
  100% {
    display: none;
    z-index: -1;
  }
}

@keyframes animateCertificateButtonOpen {
  0% {
    /* left: 50%;
    top: 50%; */
    transform: translate(-50%, -50%) scale(1);

    /* bottom: 50%; */
  }
  50% {
    /* left: 75%;
    top: 75%; */
    transform: translate(-75%, -75%) scale(0.5);
  }
  100% {
    /* left: 100%;
    top: 100%; */
    transform: translate(-100%, -100%) scale(0);
    display: none;
    z-index: -1;
  }
}

@keyframes animateCertificateLeft {
  0% {
    width: 50%;
    padding-inline: 1.5em;
  }
  50% {
    width: 25%;
    padding-inline: 0.7em;
  }
  100% {
    width: 0;
    padding-inline: 0;
    z-index: -1;
  }
}

@keyframes animateCertificateRight {
  0% {
    width: 50%;
    padding-inline: 1.5em;
  }
  50% {
    width: 25%;
    padding-inline: 0.7em;
  }
  100% {
    width: 0;
    padding-inline: 0;
    z-index: -1;
  }
}
