/* .certificates-section {
  background-color: var(--bg-light-green);
}

.certificates-section > * {
  & .subtitle-section {
    margin-bottom: 0.8em;
  }

  & .certificates-img {
    width: 100%;
    opacity: 0.5;
  }

  & .certificates-btn {
    margin-top: 1.5em;
  }
} */
.certificates-section {
  background-color: var(--bg-light-green);
}
