/* variables */
:root {
  --clr-primary-green-dark: hsl(194, 13%, 20%);
  --clr-primary-green-light: hsl(184, 11%, 28%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-gray-100: hsl(0, 0%, 93%);
  --clr-neutral-gray-200: hsl(44, 21%, 83%);
  --clr-neutral-gray-600: hsl(0, 0%, 40%);

  --clr-accent-yellow: hsl(44, 60%, 50%);
  --clr-accent-brown: hsl(27, 28%, 50%);

  --ff-poppins: "Poppins", sans-serif;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-base: 1.125rem;
  --fs-md: 1.5rem;
  --fs-lg: 1.75rem;
  --fs-xl: 2rem;
  --fs-2xl: 3rem;
  --fs-3xl: 4rem;
}
/* @custom-selector :--headings h1, h2, h3, h4;
@custom-selector :--details p;

@custom-media --mobile-md (min-width: 23.4375em);
@custom-media --mobile-lg (min-width: 31.6875em); 
@custom-media --tablet (min-width: 40em);
@custom-media --tablet-md (min-width: 47.625em); 
@custom-media --tablet-lg (min-width: 55.25em); 
@custom-media --laptop (min-width: 63em); 
@custom-media --desktop (min-width: 80em); */
/* base */
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  position: relative;
  max-height: 100vh;
  font-family: var(--ff-poppins);
  font-size: var(--fs-base);
  color: var(--clr-neutral-white);
  background-color: var(--clr-primary-green-dark);
  text-rendering: optimizeSpeed;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* components */
.title-section {
  color: var(--clr-accent-brown);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
}
.icon-social {
  width: 30px;
  height: 30px;
}
/* layout */
/* compositions */
/* @import "compositions/flex.css"; */
/* utilities */
/* @import "utilities/text.css";
@import "utilities/display.css";
@import "utilities/content.css";
@import "utilities/items.css";
@import "utilities/background.css";
@import "utilities/list.css";
@import "utilities/border.css";
@import "utilities/cursor.css";
@import "utilities/margin.css";
@import "utilities/padding.css";
@import "utilities/gap.css";
@import "utilities/height.css";
@import "utilities/position.css"; */
